%delay {
  transition: all 0.3s;
}

img {
  width: 100%;
}

body {
  background-color: #eaeaea;
}

.sidenav {
  @extend .col-sm-3;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #476997;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);

  .logo {
    margin: 20px auto 20px;

    a {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 40%;
    }
  }

  .nav {

    li {
      border-bottom: 1px solid #EAEAEA;

      &:first-child {
        border-top: 1px solid #EAEAEA;
      }

      &.active {

        a {
          background-color: #8292A8;
        }
      }

      a {
        @extend %delay;
        
        color: #fff;
        font-weight: bold;
        font-size: 20px;

        &:hover {
          background-color: #8292A8;
        }
      }

      span {
        margin-right: 10px;
      }
    }
  }
}

.form-control {
  background-color: transparent;
}

.alert {
  border-radius: 0;
  margin: 0 auto 20px;

  ul {
    list-style-position: inside;
    padding-left: 0;
  }
}

.login {
  position: relative;
  min-height: 600px;

  .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #fff;
    color: #37648a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

    @include respond-to(handhelds) { width: 90%;}
    @include respond-to(medium-screens) { width: 90%;}

    .logo-container {
      width: 190px;
      margin: 0 auto 25px;

      @include respond-to(handhelds) { width: 70%;}
    }

    .btn-container {
      margin-bottom: 0;
      margin-top: 30px;

      .btn-login {
        width: 100%;
        padding: 15px 12px;
        display: block;
        border-radius: 0;
        @include respond-to(medium-screens) { width: 100%;}
      }
    }
  }
}

.main {
  @extend .col-sm-9;
  @extend .col-sm-offset-3;

  .modal-content {
    border-radius: 0;
    box-shadow: none;

    .title {
      border-bottom: none;
    }

    .box-container {
      width: 100%;
      margin-bottom: 0;

      .box-content {
        padding: 15px;

        .btn-container {
          margin-bottom: 0;
        }
      }
    }
  }

  padding-top: 30px;
  padding-bottom: 30px;

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .box-container {
    background-color: #fff;
    width: 90%;
    margin: 0 auto 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    .box-content {
      padding: 20px;
    }

    &.add-book-user {
      width: 50%;
    }

    .table {
      th:last-child {
        text-align: center;
      }

      td:last-child {
        width: 80px;
        text-align: center;

        a {
          font-size: 18px;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .delete {
        color: #c68e8d;
      }
    }
  }

  h2.title {
    margin: 0;
    border-bottom: 4px solid #EAEAEA;
    padding: 15px;
    background-color: #476997;
    color: #fff;
    font-weight: bold;

    &.add {
      a {
        float: right;
        color: #fff;
      }
    }
  }

  .btn-container {
    margin: 20px 0 10px;

    input[type="submit"],
    a {
      display: block;
      margin: 0 auto;
      width: 50%;
      padding: 10px;
      border-radius: 0;
    }
  }

}
