%delay {
  transition: all 0.3s;
}

%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

a {
  outline: 0;
}

img {
  width: 100%;
}

body {
  background-color: #eaeaea;
}

/* sidenav */
.sidenav {
  @extend .col-sm-3;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #476997;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);

  .logo {
    margin: 20px auto 20px;

    a {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 40%;
    }
  }

  .nav {

    li {
      border-bottom: 1px solid #EAEAEA;

      &:first-child {
        border-top: 1px solid #EAEAEA;
      }

      &.active {

        a {
          background-color: #8292A8;
        }
      }

      a {
        @extend %delay;
        
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        padding: 8px 15px;

        &:hover {
          background-color: #8292A8;
        }
      }

      span {
        margin-right: 10px;
      }
    }
  }
}

/* topnav */
.topnav {
  @extend %clearfix;
  background-color: #476997;
  position: relative;

  .logo {
    position: absolute;
    max-width: 120px;
    top: 0;
    left: 48px;
    z-index: 9;
    margin: 0;
    background-color: #476997;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .nav {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        color: #fff;
        padding: 20px 15px;

        &:hover {
          color: #476997;
        }
      }
    }
  }
}

/* form controls custom */
.form-control {
  background-color: transparent;
}

.alert {
  border-radius: 0;
  margin: 0 auto 20px;

  ul {
    list-style-position: inside;
    padding-left: 0;
  }
}

/* datatables */
.dataTables_wrapper {
  @extend %clearfix;

  .dataTable {

    thead {
      background-color: #476997;
      color: #fff;

      th {
        outline: 0;
        cursor: pointer;
        vertical-align: middle;

        &:last-child {
          cursor: default;
        }
      }
    }

    td {
      vertical-align: middle;
      font-family: 'Roboto';
    }
  }

  .dataTables_paginate {
    @extend .pagination;
    margin: 5px 0 0;

    a,
    span > span {
      text-decoration: none;
      outline: 0;
      position: relative;
      float: left;
      padding: 6px 16px;
      line-height: 1.846;
      text-decoration: none;
      color: #476997;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      margin-left: -1px;
    }

    a {
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      &.disabled {
        cursor: default;
        background-color: #eee;
      }

      &.current {
        z-index: 3;
        color: #ffffff;
        background-color: #476997;
        border-color: #476997;
        cursor: default;

        &:hover {
          background-color: #476997;
          border-color: #476997;
        }
      }
    }
  }

  .dataTables_length {
    float: left;

    label {
      margin: 12px 0 0;

      select {
        padding: 0 5px;
        width: 45px;
        outline: 0;
      }
    }
  }

  .dataTables_filter {
    @extend .form-group;
    width: 40%;
    margin-left: auto;

    label {
      @extend .control-label;

      position: relative;
      width: 100%;

      &:before {
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        color: #ddd;
        font-size: 15px;
        font-family: 'Glyphicons Halflings';
        content: '\e003';
      }
    }

    input {
      @extend .form-control;
    }
  }
}

.main {
  @extend .col-sm-9;
  @extend .col-sm-offset-3;

  .modal-content {
    border-radius: 0;
    box-shadow: none;

    .title {
      border-bottom: none;
    }

    .box-container {
      width: 100%;
      margin-bottom: 0;

      .box-content {
        padding: 15px;

        .btn-container {
          margin-bottom: 0;
        }
      }
    }
  }

  padding-top: 30px;
  padding-bottom: 30px;

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .box-container {
    background-color: #fff;
    width: 95%;
    margin: 0 auto 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    .box-content {
      padding: 20px;

      &.borrow {

        .searchQuery {
          margin-bottom: 15px;
        }

        .search-input {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          width: 80%;
          margin: 0 auto;

          .form-group {
            margin-bottom: 0;
            flex-grow: 6;
          }

          .btn-container {
            margin: 0;
            flex-grow: 1;
          }

          .btn-search {
            width: 100%;
            padding: 7px 10px;
            margin-left: 10px;
          }
        }
      }
    }

    &.add-book-user {
      width: 50%;
    }

    .table {
      margin-bottom: 10px;

      th:last-child {
        text-align: center;
      }
      
      td {
        font-family: 'Roboto';

        &:last-child {
          width: 80px;
          text-align: center;

          a {
            font-size: 18px;
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .delete {
        color: #c68e8d;
      }

      .borrow {
        color: #33b77b;
      }
    }
  }

  h2.title {
    margin: 0;
    border-bottom: 4px solid #EAEAEA;
    padding: 15px;
    background-color: #476997;
    color: #fff;
    font-weight: bold;

    &.add {
      a {
        float: right;
        color: #fff;
      }
    }
  }

  .btn-container {
    margin: 20px 0 10px;

    input[type="submit"],
    a {
      display: block;
      margin: 0 auto;
      width: 50%;
      padding: 10px;
      border-radius: 0;
    }
  }

  &.fullwidth {
    @extend .col-sm-12;
    @extend .col-sm-offset-0;

    width: 100%;
    padding-top: 60px;

    .box-content {
      min-height: 370px;

      .search-input {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto 20px;

        .form-group {
          margin-bottom: 0;
          margin-right: 15px;

          &.search-q {
            flex-grow: 4;
          }

          &.search-select {
            
          }
        }

        .btn-container {
          margin: 0;
          flex-grow: 1;

          .btn {
            width: 100%;
            padding: 7px 10px;
          }
        }

      }
    }
  }

  &.opac {
    .box-container {
      &.view {
        width: 75%;

        section {
          h4 {
            font-weight: normal;
          }

          p {
            font-weight: 600;
            font-size: 16px;
          }
        }
        
        .num {
          font-family: Roboto;
        }
      }
    }
  }

  &.borrow {
    .box-container {
      .table {
        th:last-child {
          width: 11%;
          text-align: left;
        }

        td:last-child {
          text-align: left;
        }
      }
    }
  }
}

/* login */
.login {
  position: relative;
  min-height: 600px;

  .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #fff;
    color: #37648a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

    @include respond-to(handhelds) { width: 90%;}
    @include respond-to(medium-screens) { width: 90%;}

    .logo-container {
      width: 190px;
      margin: 0 auto 25px;

      @include respond-to(handhelds) { width: 70%;}
    }

    .btn-container {
      margin-bottom: 0;
      margin-top: 30px;

      .btn-login {
        width: 100%;
        padding: 15px 12px;
        display: block;
        border-radius: 0;
        @include respond-to(medium-screens) { width: 100%;}
      }
    }
  }
}
