%delay {
  transition: all 0.3s;
}

%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

a {
  outline: 0 !important;
}

img {
  width: 100%;
}

body {
  background-color: #eaeaea;
}

/* sidenav */
.sidenav {
  @extend .col-sm-3;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #476997;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);

  .logo {
    margin: 10px auto;

    a {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 35%;
    }
  }

  p {
    margin-bottom: 0;
    text-align: center;
    padding: 0 5px;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.35;
    font-size: 12px;

    &.school-name {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .contact-list {
    padding: 0;

    li {
      color: #fff;
      font-size: 10px;
      text-align: center;
      font-family: 'Roboto';

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }



  .nav {

    li {
      border-bottom: 1px solid #EAEAEA;

      &:first-child {
        border-top: 1px solid #EAEAEA;
      }

      &.active {

        a {
          background-color: #8292A8;
        }
      }

      a {
        @extend %delay;
        
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 15px;

        &:hover {
          background-color: #8292A8;
        }
      }

      span {
        margin-right: 10px;
      }
    }
  }
}

/* topnav */
.topnav {
  @extend %clearfix;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #476997;

  .logo {
    position: absolute;
    max-width: 120px;
    top: 0;
    left: 10px;
    z-index: 9;
    margin: 0;
    background-color: #476997;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    p {
      color: #fff;
      align-self: center;
      margin: 0;
      font-weight: 700;
      font-size: 26px;
      padding-left: 140px;
    }
  }

  .nav {
    display: flex;
    justify-content: flex-end;

    li {
      position: relative;
      ul {
        display: none;
        position: absolute;
        top: 49px;
        right: 0;
        background-color: #476997;
        padding: 0;
        margin-bottom: 0;
        width: 135px;
        list-style-type: none;

        a {
          text-align: right;
        }
      }

      a {
        display: block;
        color: #fff;
        padding: 15px;
        font-size: 12px;
        text-decoration: none;
        outline: 0;

        &:hover {
          background-color: #476997;
          box-shadow: inset 0 2px 0 #eaeaea;
        }
      }
    }
  }
}

/* form controls custom */
.form-control {
  background-color: transparent;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;

  ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0;
  }
}

/* datatables */
.dataTables_wrapper {
  @extend %clearfix;

  .dataTable {

    thead {
      background-color: #476997;
      color: #fff;

      th {
        outline: 0;
        cursor: pointer;
        vertical-align: middle;

        &:last-child {
          cursor: default;
        }
      }
    }

    td {
      vertical-align: middle;
      font-family: 'Roboto';
    }
  }

  .dataTables_paginate {
    @extend .pagination;
    margin: 5px 0 0;

    a,
    span > span {
      text-decoration: none;
      outline: 0;
      position: relative;
      float: left;
      padding: 6px 16px;
      line-height: 1.846;
      text-decoration: none;
      color: #476997;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      margin-left: -1px;
    }

    a {
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      &.disabled {
        cursor: default;
        background-color: #eee;
      }

      &.current {
        z-index: 3;
        color: #ffffff;
        background-color: #476997;
        border-color: #476997;
        cursor: default;

        &:hover {
          background-color: #476997;
          border-color: #476997;
        }
      }
    }
  }

  .dataTables_length {
    float: left;

    label {
      margin: 12px 0 0;

      select {
        padding: 0 5px;
        width: 45px;
        outline: 0;
      }
    }
  }

  .dataTables_filter {
    @extend .form-group;
    width: 40%;
    margin-left: auto;

    label {
      @extend .control-label;

      position: relative;
      width: 100%;

      &:before {
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        color: #ddd;
        font-size: 15px;
        font-family: 'Glyphicons Halflings';
        content: '\e003';
      }
    }

    input {
      @extend .form-control;
    }
  }
}

.main {
  @extend .col-sm-9;
  @extend .col-sm-offset-3;

  .modal-content {
    border-radius: 0;
    box-shadow: none;

    .title {
      border-bottom: none;
    }

    .box-container {
      width: 100%;
      margin-bottom: 0;

      .box-content {
        padding: 15px;

        .btn-container {
          margin-bottom: 0;
        }
      }
    }
  }

  padding-top: 30px;
  padding-bottom: 30px;

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .box-container {
    position: relative;
    width: 95%;
    margin: 0 auto 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    .logs-table {
      th:last-child {
        width: 17%;
      }
      
    }

    &.books {
      .dataTable {

        thead {
          background-color: #476997;
          color: #fff;

          th {
            outline: 0;
            cursor: pointer;
            vertical-align: middle;
            font-size: 11px;

            &:last-child {
              cursor: default;
            }
          }
        }

        td {
          vertical-align: middle;
          font-family: 'Roboto';
          font-size: 11px;

          &:last-child {

            a {
              font-size: 14px;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .box-content {
      padding: 80px 20px 20px;

      &.borrow {

        min-height: 250px;

        .title {
          @extend %clearfix;
          margin: 0;
          padding: 10px;
          background-color: #476997;
          color: #fff;

          a {
            float: right;
            text-align: right;
            color: #fff;

          }
        }

        .btn-borrow {
          padding: 10px 15px;
          border-radius: 0;
        }

        .userList {
          margin-bottom: 20px;
          padding-left: 0;
          list-style-type: none;
          li {
            &:not(:last-child) {

            }

            span {
              font-weight: 600;
              font-size: 16px;
              font-family: 'Roboto';
            }
          }
        }

        .searchQuery {
          margin-bottom: 15px;
        }

        .search-input {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 50%;
          margin: 0 auto;

          .form-group {
            margin-bottom: 0;
            flex-grow: 6;
          }

          .btn-container {
            margin: 0;
            flex-grow: 1;
          }

          .btn-search {
            width: 100%;
            padding: 7px 10px;
            margin-left: 10px;
          }
        }
      }
    }

    &.add-book-user {
      width: 50%;
    }

    .table {
      margin-bottom: 10px;

      th:last-child {
        text-align: center;
      }
      
      td {
        font-family: 'Roboto';

        &:last-child {
          width: 80px;
          text-align: center;

          a {
            font-size: 18px;
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .delete {
        color: #c68e8d;
      }

      .borrow {
        color: #33b77b;
      }
    }

    .title-tab {
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      
      li {
        background-color: #fff;
        
        &.active {
          a {
            background-color: #476997;
            color: #fff;
          }
        }
      }

      a {
        display: block;
        padding: 15px;
        border: 1px solid #476997;
        border-bottom: none;
        color: #476997;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;

        &:hover {
          background-color: #476997;
          color: #fff;
        }
      }
    }
  }

  h2.title {
    margin: 0;
    padding: 15px;
    background-color: #476997;
    color: #fff;
    font-weight: bold;

    &.add {
      a {
        float: right;
        color: #fff;
      }
    }

    &.fixed {
      position: fixed;
      width: 67.55%;
      z-index: 10;

      &:before {
        display: block;
        position: absolute;
        top: -30px;
        left: -1px;
        right: -1px;
        z-index: 11;
        height: 30px;
        background-color: #eaeaea;
        content: '';
      }
    }
  }

  .btn-container {
    @extend %clearfix;
    margin: 20px 0 10px;

    input[type="submit"],
    a {
      display: block;
      margin: 0 auto;
      width: 50%;
      padding: 10px;
      border-radius: 0;
    }

    &.two-buttons {
      text-align: right;
    }

    input[type="submit"] {
      &.update {
        display: inline-block;
        width: 15%;
      }
    }
    
    a {
      &.cancel {
        display: inline-block;
        width: 15%;
        margin-left: 15px;
      }
    }
  }

  &.fullwidth {
    @extend .col-sm-12;
    @extend .col-sm-offset-0;

    width: 100%;
    padding-top: 130px;

    .box-content {
      min-height: 370px;

      .search-input {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto 20px;

        .form-group {
          margin-bottom: 0;
          margin-right: 15px;

          &.search-q {
            flex-grow: 4;
          }

          &.search-select {
            
          }
        }

        .btn-container {
          margin: 0;
          flex-grow: 1;

          .btn {
            width: 100%;
            padding: 7px 10px;
          }
        }

      }
    }
  }

  &.opac {
    .box-container {
      background-color: transparent;
      box-shadow: none;

      .box-content {
        padding: 20px;
        background-color: #fff;
        border-top: 1px solid #476997;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      &.view {
        section {
          h4 {
            font-weight: normal;
          }

          p {
            font-weight: 600;
            font-size: 16px;
          }
        }

        .links {
          @extend %clearfix;

          padding: 0;
          margin-bottom: 0;
          list-style-type: none;

          li {
            float: left;

            &:first-child {
              margin-right: 10px;
            }

            a {
              display: block;
            }
          }
        }
        
        .num {
          font-family: Roboto;
        }
      }
    }
  }

  &.borrow {
    .box-container {
      .table {
        th:last-child {
          width: 11%;
          text-align: left;
        }

        td:last-child {
          text-align: left;
        }
      }
    }
  }

  footer {
    position: absolute;
    background-color: #888;
    padding: 15px 10px;
    bottom: 0;
    left: 0;
    width: 100%;

    p {
      margin: 0;
      font-size: 10px;
      text-align: center;
      color: #fff;
      line-height: 1;
    }
  }
}

footer.fullwidth {
  padding: 10px;
  background-color: #888;

  .contact-list {
    display: flex;
    justify-content: space-around;
    width: 45%;
    padding: 0;
    margin: 0 auto;
    list-style: none;

    li {
      position: relative;
      color: #fff;
      font-size: 10px;
      text-align: center;
      font-family: 'Roboto';

      &:not(:last-child) {
        &:before {
          position: absolute;
          right: -13px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          content: '\2022';
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/* login */
.login {
  overflow: hidden;
  position: relative;

  .background-img {
    position: absolute;
    filter: blur(2px);
    opacity: 0.6;

  }

  .container-fluid {
    position: relative;
    min-height: 600px;

    .login-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      margin: 20px auto 0;
      padding: 20px;
      background-color: #fff;
      color: #37648a;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

      @include respond-to(handhelds) { width: 90%;}
      @include respond-to(medium-screens) { width: 90%;}

      .logo-container {
        width: 190px;
        margin: 0 auto 25px;

        @include respond-to(handhelds) { width: 70%;}
      }

      .btn-container {
        margin-bottom: 0;
        margin-top: 30px;

        .btn-login {
          width: 100%;
          padding: 15px 12px;
          display: block;
          border-radius: 0;
          @include respond-to(medium-screens) { width: 100%;}
        }
      }
    }
  }
}
